@use "../../global/" as *;

.c-button {
  appearance: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border: none;
  line-height: 1.5;
  text-align: center;
}

.c-button:where(.-primary) {
  width: min(100%, 300px);
  padding: rem(20);
  transition-property: scale, background-color;
  transition-duration: 0.1s, 0.3s;
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  border-radius: rem(100);
  background-color: var(--color-main);
  color: var(--color-white);
  font-size: rem(13);
  font-weight: 700;
  letter-spacing: 0.05em;

  @include mq(lg) {
    min-width: 360px;
    padding: rem(25);
    font-size: rem(20);
  }

  @include hover {
    background-color: rgb(var(--color-main-rgb) / 85%);
  }
}

.c-button:where(.-primary.-white) {
  background-color: var(--color-white);
  color: var(--color-main);

  @include hover {
    background-color: rgb(var(--color-white-rgb) / 80%);
  }
}
