@use "../../global/" as *;

.p-footer {
  margin-top: rem(50);
}

.p-footer__toTop {
  --right: calc((100% - (335 / 375 * 100%)) / 2);

  visibility: hidden;
  position: fixed;
  z-index: 1;
  right: var(--right);
  bottom: 20px;
  opacity: 0;

  &.is-show {
    visibility: visible;
    opacity: 1;
  }
}

.p-footer__toTopButton {
  --size: 40px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgb(var(--color-black-rgb) / 20%);

  @include mq(lg) {
    --size: 80px;
  }
}

.p-footer__toTopIcon {
  width: 12px;
  height: 8px;
  rotate: 180deg;
  fill: var(--color-main);

  @include mq(lg) {
    width: 22px;
    height: 14px;
  }
}

.p-footer__image {
  overflow-x: hidden;
  transition: clip-path 0.25s cubic-bezier(0.44, 0.63, 0.2, 0.59) 0.15s;
  background: var(--color-main);
  clip-path: inset(0 100% 0 0);

  img {
    width: 100%;
    transition:
      clip-path 0.25s cubic-bezier(0.44, 0.63, 0.2, 0.59) 0.5s,
      scale 0.8s cubic-bezier(0.44, 0.63, 0.2, 0.59) 0.5s;
    clip-path: inset(0 100% 0 0);
    scale: 1.1;
  }

  &.is-inview {
    clip-path: inset(0 0 0 0);

    img {
      scale: 1;
      clip-path: inset(0 0 0 0);
    }
  }
}

.p-footer__cta {
  padding-block: rem(30) rem(20);
  background-color: var(--color-main);
  text-align: center;

  @include mq(lg) {
    padding-block: rem(50);
  }
}

.p-footer__message {
  color: var(--color-white);
  font-size: my-clamp(26, 64, 375, 1440);
  font-weight: 700;
  line-height: 1.25;
}

.p-footer__bottom {
  padding-block: rem(50);
  background-color: var(--color-text);
  text-align: center;

  @include mq(lg) {
    padding-block: rem(100);
  }
}

.p-footer__logo {
  line-height: 1;

  :where(img) {
    width: 87px;

    @include mq(lg) {
      width: 180px;
    }
  }
}
