@use "../../global/" as *;

.p-header {
  position: sticky;
  z-index: 1;
  top: 0;
  height: var(--height-header);
  transition-property: background-color, box-shadow;
  transition-duration: 0.15s, 0.3s;
  transition-timing-function: ease;
  background-color: transparent;

  &.is-active {
    background-color: var(--color-white);
    box-shadow: 0 3px 6px rgb(var(--color-black-rgb) / 5%);
  }
}

.p-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-inline: 20px;

  @include mq(md) {
    padding-inline: 35px;
  }
}

.p-header__title {
  width: calc(96 / 335 * 100%);
  height: 100%;

  @include mq(md) {
    width: calc(180 / 1370 * 100%);
  }
}

.p-header__logo {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.p-header__cta {
  display: none;
  margin-left: 8px;
  transition-property: visibility, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: transparent;

  .p-header.is-active & {
    display: block;
  }
}

.p-header__ctaButton {
  padding: rem(9) 20px;
  font-size: rem(12);
  letter-spacing: 0;

  @include mq(lg) {
    min-width: auto;
    padding: rem(13);
    font-size: rem(14);
  }
}
