@use "../../global/" as *;

.p-hero {
  position: relative;
  height: my-clamp(410, 680, 375, 1440);
  margin-top: calc(var(--height-header) * -1);
}

.p-hero__body {
  padding-top: my-clamp(160, 220, 375, 1440);
}

.p-hero__copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.p-hero__copyLine {
  --duration: 0.5s;
  --easing: cubic-bezier(0.5, 0, 0.75, 0);
  --delay: 0.5s;

  display: inline-block;
  position: relative;
  overflow: hidden;
  animation: slideInLeft var(--duration) var(--easing) calc(var(--duration) + var(--delay)) forwards;
  background-color: rgb(var(--color-white-rgb) / 0%);
  color: rgb(var(--color-black-rgb) / 0%);
  font-size: my-clamp(42, 90, 375, 1440);
  font-style: italic;
  line-height: 1;

  // 左からテキスト表示
  @keyframes slideInLeft {
    0% {
      clip-path: inset(0 100% 0 0);
    }

    100% {
      background-color: rgb(var(--color-white-rgb) / 100%);
      color: rgb(var(--color-black-rgb) / 100%);
      clip-path: inset(0 0 0 0);
    }
  }

  // 背景
  &::after {
    --easing: ease-out;

    content: "";
    position: absolute;
    animation: slideOutRight var(--duration) var(--easing) var(--delay) forwards;
    background-color: var(--color-main);
    inset: 0;
    translate: -105% 0;

    // 背景スライド
    @keyframes slideOutRight {
      0% {
        translate: -80% 0;
      }

      50% {
        translate: 0 0;
      }

      100% {
        translate: 100% 0;
      }
    }
  }

  // &
  span:not([class]) {
    margin-right: 4px;
    animation: show var(--duration) var(--easing) calc(var(--duration) + var(--delay)) forwards;
    opacity: 0;
    color: var(--color-main);

    @keyframes show {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

.p-hero__subCopy {
  display: inline-block;
  margin-top: rem(10);
  padding: rem(4) 4px rem(3);
  animation: slideInLeft2 0.3s ease-in-out 1.65s forwards;
  opacity: 0;
  background-color: var(--color-white);
  font-size: my-clamp(13, 28, 375, 1440);
  font-style: normal;
  font-weight: 700;
  line-height: 1;

  @include mq(md) {
    margin-top: rem(20);
  }

  @keyframes slideInLeft2 {
    0% {
      opacity: 0;
      clip-path: inset(0 100% 0 0);
    }

    100% {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }
}

.p-hero__button {
  display: inline-block;
  width: auto;
  min-width: 220px;
  padding: rem(13) rem(25);

  @include mq(lg) {
    min-width: 370px;
    padding-block: rem(30);
  }
}

.p-hero__image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: calc(266 / var(--comp-width) * 100%);
  height: 100%;

  @include mq(lg) {
    width: min(calc(1060 / var(--comp-width) * 100%), 1400px);
    font-size: rem(16);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 50px;
  }
}
