@use "../../global/" as *;

.p-trainerTab__list {
  display: flex;

  & > li {
    flex: 1;
  }
}

.p-trainerTab__button {
  width: 100%;
  padding: rem(4);
  color: var(--color-white);
  text-align: center;

  @include mq(md) {
    padding: rem(14);
    font-size: rem(18);
  }

  // 選択中のタブ
  &[aria-selected="true"] {
    border-bottom: 2px solid currentcolor;
    font-weight: 700;
  }

  @include hover {
    background-color: rgb(0 0 0 / 8%);
  }
}

.p-trainerTab__body {
  margin-top: rem(20);
}

// タブパネルを非表示
// 表示する`is-show`クラスはJSで制御
.p-trainerTab__panel {
  display: none;

  &.is-show {
    display: block;
  }
}
